<div class="cont">
    <h1> About Us </h1>
    <h4 *ngIf="userName.firstName != undefined"> {{userName.firstName}} {{userName.lastName}} welcome aboard! </h4>
    <p>
        We believe the best way to deliver a great user experience is by deeply understanding what people want and love.
        Then deliver the features, messages, and content that are most helpful, relevant and timely. That's what makes users happy and loyal. Kissmetrics
        strives to deliver the tools and support that helps companies deliver that great experience. We want our customer's customers to be happy, 
        so then our customers are happy and that makes us happy.
    </p>
</div>