<div class="cust-bg-lightgrey min-height">
    <!-- 
    <div class="row">
        <div class="col"> -->
    <div class="container">
        <div>
            <h1 class="text-center mb-0 ml-4"> Shoe Supply Products </h1>
            <div class="clearfix position-relative" style="bottom:2.5em;">
                <button type="button" class="btn btn-dark btn-sm d-inline mb-2 mx-2 float-end"
                    (click)="changeSize(1)"><mat-icon class="align-middle">add_circle</mat-icon></button>
                <button type="button" class="btn btn-dark btn-sm d-inline mb-2 mx-2 float-end"
                    (click)="changeSize(-1)"><mat-icon class="align-middle">remove_circle_outline</mat-icon></button>
            </div>
        </div>
        <!-- <div class="row" *ngIf="filteredProducts.length == 0">
            <div class="col">
                <h3 class="text-warning text-center">Your search does not match any products</h3>
            </div>
        </div> -->
        <div class="row clearfix">
            <div class="col-md-{{size}} col-sm-6" *ngFor="let product of filteredProducts | async; let i = index;">
                <div class="card">
                    <!-- <img class="card-img-top product-img" [src]="product.imagePath">
                    <div class="card-body">
                        <h5 class="card-title text-truncate" [title]="product.key">{{product.key}}</h5>
                        <p class="card-text m-0 desc"> {{product}}</p>
                        <span class="card-text"> Price : {{product.price | currency}} </span>
                    </div> -->
                    <!-- <button #btn class="btn btn-sm btn-primary float-end"
                    [ngClass]="isInCart(product) ? 'btn-success' : 'btn-primary'"
                    [disabled]="isInCart(product)"
                        (click)="addProductToCart(product); btn.value='Added'">
                        {{ isInCart(product) ? "Added" : "Add to Cart"}} </button>
                    <app-rating class="px-1 text-center" [initialRating]="product.getRating()"
                        (ratingEmitter)="product.setRating($event)"></app-rating> -->
                </div>
                <br>
            </div>
        </div>
    </div>
    <!-- </div>
        <div class="col-2">
            
        </div>
    </div> -->


</div>