<footer class="cust-bg-black text-center text-white">
    <div class="container p-4">
        <h4 class="text-white"> Thanks for visiting! </h4>
        <div class="row">
            <div class="col-6">
                <h5 class="text-white">About</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <p class="text-white text-center">
                            Developed by Anthony Heier as part of his Web Development 2 class.
                            The web page is built on the angular framework with bootstrap for styling.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <h5 class="text-white">LinkedIn</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a class="card-link"
                            href="https://www.linkedin.com/in/anthony-heier?trk=public-profile-badge-profile-badge-profile-name">
                            Anthony Heier
                        </a>
                    </li>
                    <li>
                        <p class="card-text">
                            Information Technology Quality Assurance Analyst at Fastenal Company
                        </p>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/fastenal?trk=public-profile-badge-profile-badge_company-name"
                            class="card-link">Fastenal Company</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/school/saint-mary's-university-of-minnesota/?trk=public-profile-badge-profile-badge_school-name"
                            class="card-link">Saint Mary's University of Minnesota</a>
                    </li>
                    <li>
                        <a class="profile-badge__cta-btn profile-badge__cta-btn--dark"
                            href="https://www.linkedin.com/in/anthony-heier?trk=public-profile-badge-profile-badge-view-profile-cta"
                            target="_blank">
                            View profile
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3">
        © 2020 Copyright: Anthony J Heier
    </div>
</footer>